<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="./log_192x192.ICO"/>
    <title> Neuro salud</title>
    
</head>
<body>
    {% extends "layout.html" %}
    {% block title %} Mi sitio web {%endblock%}
    {% block content %}
        <br>
        <br>
        <br>
        <p>  Bienvenido, 
            <br>
            <br>
            NeuroSalud es una plataforma bajo el enfoque de"medico a la mano"Info siguiendo los estudios que se han adelantado de calidad de vida y salud mental, que tiene como finalidad dar un acercamiento a lo que se refiere un diagnostico medico, ya que muchas veces estamos sin tiempo de solicitar una consulta médica y tenemos alguna dolencia.
            El cual ha sido basado en una recoleccion de datos tanto de usuarios como de especialistas en enfermedades neuronales.
            Pensando en la calidad de vida que merecen cada una de las personas con Epilepsia, se realiza esta encuesta basada en el modelo desarrollado por el Instituto Tecnológico de Massachusetts de la vida cotidiana del paciente, la intensidad de los eventos y con que frecuencia los tiene, lo será de apoyo para los Neurólogos en el proceso de diagnostico y medicación y monitoreo de los pacientes. 
        </p>
        
        <div class="col-lg-12">
            <img class="img-responsive" src="{% static 'descarga.jpg' %}" alt="">
                <div class="intro-text">
                    <span class="name">Start Bootstrap</span>
                    <hr class="star-light">
                    <span class="skills">Neuro</span> 

                </div>
        </div>
        
    {%endblock%}

        

    
</body>
</html>